
html, body, #root {
  width: 100%;          /* 100%로 수정 */
  height: 100%;         /* 부모 요소 기준 */
  margin: 0;
  padding: 0;
  overflow-x: auto;   /* 가로 스크롤만 허용 */
  overflow-y: auto;     /* 세로 스크롤 허용 */
}

.App {
  display: flex;
  flex-direction: column;
  
 
}
